<% content_for :head do %>
  <% page_title = "Store Locator | Plomo Shoes" %>
	<% page_description = "Check out our retailers." %>
	<title><%= page_title %></title>
	<meta name="keywords" content="store locator, retailers">
	<meta name="description" content="<%= page_description %>">
	<meta property="og:title" content="<%= page_title %>">
  <meta property="og:description" content="<%= page_description %>">
  <meta property="og:image" content="<%= asset_url('plomoshoes-logo.png') %>">
  <meta property="og:url" content="<%= store_locator_url %>">
<% end %>
<h1>STORE LOCATOR</h1>
<div class="row-fluid store-locator-text">
  <div class="span2">
    <h2>U.S.</h2>
    <h3>New York</h3>
    <h4>Manhattan</h4>
    <ul>
      <li>Ahmee</li>
      <li>Intermix</li>
      <li>Calypso St. Barth</li>
      <li>Zachary's Smile</li>
    </ul>
    <h4>Brooklyn</h4>
    <ul>
      <li>Chuckies</li>
      <li>DNA Footwear</li>
      <li>Rivet</li>
    </ul>
    <h4>Fayetteville</h4>
    <ul>
      <li>Paul Karaz</li>
    </ul>
    <br>
    <h3>Texas</h3>
    <h4>Austin</h4>
    <ul>
      <li>Garden Room</li>
      <li>Gallery D</li>
      <li>Boot Leg</li>
    </ul>
    <h4>Dallas</h4>
    <ul>
      <li>Merge</li>
    </ul>
    <h4>McKinney</h4>
    <ul>
      <li>Pumps</li>
    </ul>
    <h4>Forh Worth</h4>
    <ul>
      <li>Yo are Here</li>
    </ul>
  </div>
  <div class="span2 margin-h2">
    <h3>Illinois</h3>
    <h4>Chicago</h4>
    <ul>
      <li>City Soles</li>
    </ul>
    <br>
    <h3>Washington</h3>
    <h4>Seattle</h4>
    <ul>
      <li>Lambs Ear</li>
    </ul>
    <br>
    <h3>California</h3>
    <h4>Arcadia</h4>
    <ul>
      <li>Scala Boutique</li>
    </ul>
    <h4>Pasadena</h4>
    <ul>
      <li>Lulu Brandt</li>
    </ul>
    <h4>San Francisco</h4>
    <ul>
      <li>Rand + Statler</li>
    </ul>
    <h4>Los Angeles</h4>
    <ul>
      <li>Gregory's</li>
    </ul>
    <br>
    <h3>Florida</h3>
    <h4>Winter Park</h4>
    <ul>
      <li>Tuni</li>
    </ul>
  </div>
  <div class="span2 margin-h2">    
    <h3>Lousiana</h3>
    <h4>Baton Roug</h4>
    <ul>
      <li>Chatta Box</li>
    </ul>
    <br>
    <h3>Alabama</h3>
    <h4>Mobile</h4>
    <ul>
      <li>Debra ́s</li>
    </ul>
    <br>
    <h3>North Carolina</h3>
    <h4>Raleigh</h4>
    <ul>
      <li>Gena Chandler</li>
    </ul>
    <br>
    <h3>Oklahoma</h3>
    <h4>Oklahoma City</h4>
    <ul>
      <li>Rakota Remington</li>
    </ul>
    <br>
    <h3>Maryland</h3>
    <h4>Stevenson</h4>
    <ul>
      <li>Joanna Grays</li>
    </ul>
    <br>
    <h3>New Jersey</h3>
    <h4>Englewood</h4>
    <ul>
      <li>Shoe Inn</li>
    </ul>
  </div>

  <span class="span1"></span>
  
  <div class="span2">
    <h2>EUROPE</h2>
    <h3>Switzerland</h3>
    <ul>
      <li>Bongenie</li>
      <li>Jamarico</li>
    </ul>
    <h4>Amsterdam</h4>
    <ul>
      <li>Layka</li>
      <li>DNA Footwear</li>
      <li>Rivet</li>
    </ul>
    <h4>London UK</h4>
    <ul>
      <li>Claire Edwards</li>
    </ul>
    <br>
    <h2>JAPAN</h2>
    <ul>
      <li>Look Inc.</li>
    </ul>
    <br>
    <h2>RUSIA</h2>
    <ul>
      <li>Lamoda.ru.</li>
    </ul>
    <br>
    <h2>AUSTRALIA</h2>
    <ul>
      <li>Estilo Emporio</li>
    </ul>
  </div>
  
  <span class="span1"></span>

  <div class="span2">
    <h2>ONLINE</h2>
    <ul>
        <li>Ahmee</li>
      <li>Intermix</li>
      <li>Calypso St. Barth</li>
      <li>Zachary's Smile</li>
    </ul>
  </div>
</div>