<% content_for :head do %>
  <% page_title = "Plomo Shoes" %>
  <% page_description = "Shoe collections that continue to take inspiration from quotidian, magnificent, even downright bizarre places, finding the beauty (and the shoe) in all of them." %>
	<title><%= page_title %></title>
	<meta name="keywords" content="contemporary shoe,platform,wedge,pale colors,patent leather,cork,leather shoe, animal print, snake leather, oxfords, penny loafer, mary jane, baby blue shoe, fringes boot, flat bootie, flat platform, peach shoe, oxfrod with tassel, ostrich leather">
	<meta name="description" content="<%= page_description %>">
	<meta property="og:title" content="<%= page_title %>">
  <meta property="og:description" content="<%= page_description %>">
  <meta property="og:image" content="<%= asset_path('plomoshoes-logo.png') %>">
  <meta property="og:url" content="<%= root_url %>">
<% end %>
<section id="mainCarousel" class="carousel">
  <div class="carousel-inner">
    <% @home_main_banners.each_with_index do |banner, index| %>
      <div class="<%= 'active ' if index.zero? %>item"><%= link_to_if !banner.url.blank?, image_tag(banner.image.url(:original), :width => 778, :height => 295, :alt => banner.name), banner.url %></div>
    <% end %>
  </div>
  <a class="carousel-control left" href="#mainCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#mainCarousel" data-slide="next">&rsaquo;</a>
</section>
<section class="row-fluid">
  <% @home_thumb_banners.each do |banner| %>
    <div class="span4"><%= link_to_if !banner.url.blank?, image_tag(banner.image.url(:original), :width => 248, :height => 120, :alt => banner.name), banner.url %></div>
  <% end %>
</section>
<% content_for :javascript do %>
  <%= javascript_tag do %>
    $(function() {
      $('.carousel').carousel({
        interval: 4000
      });
    })
  <% end %>
<% end %>