<div id="mainCarousel" class="carousel">
  <div class="carousel-inner">
    <div class="active item"><%= image_tag 'home/banner-carousel-01.png', :width => 778, :height => 295, :alt => 'Shop online' %></div>
    <div class="item"><%= image_tag 'home/banner-carousel-02.png', :width => 778, :height => 295, :alt => 'Fashion' %></div>
    <div class="item"><%= image_tag 'home/banner-carousel-03.png', :width => 778, :height => 295, :alt => 'Fall 2012' %></div>
  </div>
  <a class="carousel-control left" href="#mainCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#mainCarousel" data-slide="next">&rsaquo;</a>
</div>
<div class="row-fluid">
  <div class="span4"><%= image_tag 'home/banner-thumb-01.jpg', :width => 249, :height => 120 %></div>
  <div class="span4"><%= image_tag 'home/banner-thumb-02.jpg', :width => 249, :height => 120 %></div>
  <div class="span4"><%= image_tag 'home/banner-thumb-03.jpg', :width => 249, :height => 120 %></div>
</div>
<% content_for :javascript do %>
  <%= javascript_tag do %>
    $(function() {
      $('.carousel').carousel({
        interval: 4000
      });
    })
  <% end %>
<% end %>