<% content_for :head do %>
  <% page_title = "About | Plomo Shoes" %>
	<% page_description = "What first drew Galia and Keltse to one another is familiar to most women: an undeniable, uncontrollable love for shoes." %>
	<title><%= page_title %></title>
	<meta name="keywords" content="about plomoshoes, galia plomoshoes, keltse plomoshoes">
	<meta name="description" content="<%= page_description %>">
	<meta property="og:title" content="<%= page_title %>">
  <meta property="og:description" content="<%= page_description %>">
  <meta property="og:image" content="<%= asset_url('plomoshoes-logo.png') %>">
  <meta property="og:url" content="<%= about_url %>">
<% end %>
<div class="row-fluid about-text">
  <div class="span3">
    <h1>A TALE OF<br>TWO<br>SHOES<br>LOVERS</h1>
  </div>
  <div class="span5">
    <p>What first drew Galia and Keltse to one another is familiar to most women: an undeniable, uncontrollable love for shoes. The two first met on the set of a TV fashion show in 2007 and, since then, they’ve been inseparable.</p>
    <p>The pair not only shares a love of shoes but of travel and adventure —they can never stay in one place! After Keltse moved from Spain to Mexico City, the two bought custom, vintage bikes and would ride them through the center of Mexico City all the way to La Lagunilla flea market to search for hidden treasures. In troves of peculiar items, they discovered gorgeous vintage sunglasses and furniture, among other riches. They also enjoyed their friendship with quieter adventures, like sampling crafted beer in Polanco (chelitas), feeding their addiction to tapioca bubble teas, and taking long walks with their canine companions, Napoleon and Mala, always in style.</p>
    <p>In 2008, these fashion-forward women thought: why not take their passion a step further? Why not design their own shoes? And so, that same year, they completed their first collection, drawing on their experiences together in Mexico.</p>
    <p>After their initial collection, the pair continued designing and in January 2010 Plomo Shoes was born! The two friends continue to takeinspiration from quotidian, magnificent, even downright bizarre places, finding the beauty (and the shoe) in all of them. Although they now live a continent apart, (Keltse in New York City and Galia in Mexico City) these two still to share their love for shoes and shoe design, inspired by their own travels and the unique colors, textures, foods, buildings, and even people that they find there.</p>
  </div>
  <div class="span4">
    <h2>FALL 2012</h2>
    <p>While planning her wedding in the magnificent gardens of Hacienda Tekit del Regil in Merida, Mexico, Galia found herself surrounded by tremendous beauty molded by an ancient culture. Haciendas dating back to the 17th century create a magical and unique combination of intricate French architecture and local Mayan design. Gaila was enchan- ted by these amazing structures set against lush tropical jungles, blossoming with native flora and fauna, as well as by the pink flamingo waters of the Celestun River and the fiery Quintana Roo sunsets. She now understands why the local citizens, yucatecos, go through life with smiles on their faces, even with the heavy rains that end almost as suddenly as they begin.</p>
    <p>The dark earth tones and natural terra cotta pig- ments draw from Galia’s experiences with the Mayan culture, as playful fringes. In designing this collection, Galia and Keltse centered on solid masculine structures like chunky heels and platforms, not to mention the variety of laced oxfords and flats, but without losing a sleek and sexy feminine side—making an appearance in the vibrant colors, pointed toes, and curvy silhouette. Much like the hacien- das, the Fall/Winter 2012 collection creates a distinctively glorious combination of native and foreign elements, as well as of traditional and modern.</p>
  </div>
</div>