<% content_for :head do %>
  <% page_title = "About | Plomo Shoes" %>
	<% page_description = "What first drew Galia and Keltse to one another is familiar to most women: an undeniable, uncontrollable love for shoes." %>
	<title><%= page_title %></title>
	<meta name="keywords" content="about plomoshoes, galia plomoshoes, keltse plomoshoes">
	<meta name="description" content="<%= page_description %>">
	<meta property="og:title" content="<%= page_title %>">
  <meta property="og:description" content="<%= page_description %>">
  <meta property="og:image" content="<%= asset_path('plomoshoes-logo.png') %>">
  <meta property="og:url" content="<%= about_url %>">
<% end %>
<% content_for :head do %>
  <title>About | Plomo Shoes</title>
<% end %>
<div class="row-fluid about-text">
  <div class="span3">
    <h1>ABOUT A TALE OF<br>TWO<br>SHOES<br>LOVERS</h1>
  </div>
  <div class="span5">
    <p>What first drew Galia and Keltse to one another is familiar to most women: an undeniable, uncontrollable love for shoes. The two first met on the set of a TV fashion show in 2007 and, since then, they’ve been inseparable.</p>
    <p>The pair not only shares a love of shoes but of travel and adventure —they can never stay in one place! After Keltse moved from Spain to Mexico City, the two bought custom, vintage bikes and would ride them through the center of Mexico City all the way to La Lagunilla flea market to search for hidden treasures. In troves of peculiar items, they discovered gorgeous vintage sunglasses and furniture, among other riches. They also enjoyed their friendship with quieter adventures, like sampling crafted beer in Polanco (chelitas), feeding their addiction to tapioca bubble teas, and taking long walks with their canine companions, Napoleon and Mala, always in style.</p>
    <p>In 2008, these fashion-forward women thought: why not take their passion a step further? Why not design their own shoes? And so, that same year, they completed their first collection, drawing on their experiences together in Mexico.</p>
    <p>After their initial collection, the pair continued designing and in January 2010 Plomo Shoes was born! The two friends continue to takeinspiration from quotidian, magnificent, even downright bizarre places, finding the beauty (and the shoe) in all of them. Although they now live a continent apart, (Keltse in New York City and Galia in Mexico City) these two still to share their love for shoes and shoe design, inspired by their own travels and the unique colors, textures, foods, buildings, and even people that they find there.</p>
  </div>
  <div class="span4">
    <h2>FALL 2012</h2>
    <p>While coming up on their 5th and largest season, Keltse and Galia became very drawn to the British Culture. The once best-friends turned designers took their inspiration from some of the British’s biggest culture muses and fashion icons such as Anita Pallenberg, Alexa, Poppy or Twiggy. Finding they all have one thing in common with the "Plomo Girl”, a lot of personality. Their Spring collection is all about contrasts: it is feminine and masculine, classic but modern, all of which create a casual and sexy look. Much of the inspiration for 'Plomos' Spring line comes from the winkle picker pointed shoes mirroring those of the British culture in the 50s and 60s. Keltse and Galia decided to reinvent the silhouette and make it more feminine adding new colors. The base color palette is very soft, with pale tones and neutrals and accented with bright colors such as mint, turquoise and pink. Yellow is a predominate color as well contrasting with grey’s and white, all creating a rainbow of beautiful shoes that you cannot live without.</p>
  </div>
</div>