<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PlomoShoes</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="<%=image_path('ico/favicon.png')%>">
  </head>
  <body>
    <div id="main" class="container">
      <header id="header">
        <div id="plomoshoes-logo">
          <%= link_to image_tag('plomoshoes-logo.png', :alt => 'PlomoShoes Logo', :width => 115, :height => 34), 'javascript:void(0)' %>
        </div>
        <nav id="main-nav">
          <ul>
            <li class="selected"><%= link_to 'HOME', 'javascript:void(0)' %></li>
            <li><%= link_to 'ABOUT', 'javascript:void(0)' %></li>
            <li><%= link_to 'FALL 2012', 'javascript:void(0)' %></li>
            <li><%= link_to 'PRESS', 'javascript:void(0)' %></li>
            <li><%= link_to 'LOOKBOOK', 'javascript:void(0)' %></li>
          </ul>
        </nav>
      </header>
      <%= yield %>
      <footer id="footer">
        @2012
      </footer>
    </div>
    
    <%= javascript_include_tag "application" %>
  </body>
</html>