<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% else %>
      <title>Plomo Shoes</title>
    <% end %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="<%=image_path('ico/favicon.png')%>">
  </head>
  <body>
    <div id="main" class="container">
      <header id="header">
        <%= image_tag 'plomoshoes-aside-icon.png', :width => 36, :height => 36, :alt => 'Plomo Shoes Icon', :class => 'plomoshoes-aside-icon' %>
        <%= content_tag (params[:controller] == 'home' ? 'h1' : 'div'), :id => 'plomoshoes-logo' do %>
          <%= link_to image_tag('plomoshoes-logo.png', :alt => 'Plomo Shoes Logo', :width => 115, :height => 34), 'javascript:void(0)' %>
        <% end %>
        <nav id="main-nav">
          <ul>
            <%= content_tag :li, link_to('HOME', root_url), :class => selected_menu_class(['home']) %>
            <%= content_tag :li, link_to('ABOUT', about_url), :class => selected_menu_class(['about']) %>
            <% # current_collection_content_tag %>
            <%= content_tag :li, link_to('SHOP', collections_url) %>
            <%= content_tag :li, link_to('PRESS', press_url), :class => selected_menu_class(['press']) %>
            <%= content_tag :li, link_to('LOOKBOOK', lookbook_url), :class => selected_menu_class(['lookbook']) %>
          </ul>
        </nav>
      </header>
      <% if notice || alert %>
        <p><%= notice %></p>
        <p><%= alert %></p>
      <% end %>
      <div class="clearfix">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
      <footer id="footer">
        <div class="clearfix">
          <div class="pull-left">
            <%= link_to 'STORE LOCATOR', store_locator_url %>
            <%= link_to 'BLOG', 'http://plomoshoes.wordpress.com' %>
          </div>
          <div class="pull-right">
            <%= link_to 'TWITTER', 'http://twitter.com/PlomoShoes', :target => '_blank' %>
            <%= link_to 'FACEBOOK', 'http://www.facebook.com/pages/Plomo-Shoes/147350658657531', :target => '_blank' %>
            <%= link_to 'CONTACT', 'mailto:info@plomony.com' %>
            <%= form_tag subscribe_url, :method => 'post', :remote => true, :id => 'form-newsletter' do %>
              JOIN EMAIL LIST
              <input type="text" name="email" placeholder="ENTER YOUR EMAIL" required>
              <input type="image" src="<%= image_path 'icons/newsletter.png' %>" title="Submit">
            <% end %>
          </div>
        </div>
        <div class="copyright">@2013 Plomo Shoes.</div>
      </footer>
    </div>
    <%= javascript_include_tag "application" %>
    <%= yield(:javascript) if content_for?(:javascript) %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28703065-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>