<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% else %>
      <title>Plomo Shoes</title>
    <% end %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="<%=image_path('ico/favicon.png')%>">
  </head>
  <body>
    <div id="main" class="container">
      <header id="header">
        <%= image_tag 'plomoshoes-aside-icon.png', :width => 36, :height => 36, :alt => 'Plomo Shoes Icon', :class => 'plomoshoes-aside-icon' %>
        <%= content_tag (params[:controller] == 'home' ? 'h1' : 'div'), :id => 'plomoshoes-logo' do %>
          <%= link_to image_tag('plomoshoes-logo.png', :alt => 'Plomo Shoes Logo', :width => 115, :height => 34), 'javascript:void(0)' %>
        <% end %>
        <nav id="main-nav">
          <ul>
            <%= content_tag :li, link_to('HOME', root_url), :class => selected_menu_class(['home']) %>
            <%= content_tag :li, link_to('ABOUT', about_url), :class => selected_menu_class(['about']) %>
            <%= content_tag :li, link_to(current_collection.name, collection_url(current_collection.path)), :class => selected_menu_class(['collections', 'shoes']) unless current_collection.nil? %>
            <li><%= link_to 'PRESS', 'javascript:void(0)' %></li>
            <li><%= link_to 'LOOKBOOK', 'javascript:void(0)' %></li>
          </ul>
        </nav>
      </header>
      <% if notice || alert %>
        <p><%= notice %></p>
        <p><%= alert %></p>
      <% end %>
      <div class="clearfix">
        <%= content_for?(:content) ? yield(:content) : yield %>
      </div>
      <footer id="footer">
        <div class="clearfix">
          <div class="pull-left">
            <%= link_to 'SITE LOCATOR', 'javascript:void(0)' %>
            <%= link_to 'BLOG', 'javascript:void(0)' %>
          </div>
          <div class="pull-right">
            <%= link_to 'TWITTER', 'javascript:void(0)' %>
            <%= link_to 'FACEBOOK', 'javascript:void(0)' %>
            <%= link_to 'CONTACT', 'javascript:void(0)' %>
            <%= form_tag '/' do %>
              JOIN EMAIL LIST
              <input type="text" name="email" placeholder="ENTER YOUR EMAIL">
              <input type="image" src="<%= image_path 'icons/newsletter.png' %>" title="Submit">
            <% end %>
          </div>
        </div>
        <div class="copyright">@2012 Plomo Shoes.</div>
      </footer>
    </div>
    <%= javascript_include_tag "application" %>
    <%= yield(:javascript) if content_for?(:javascript) %>
  </body>
</html>